<nav class="bg-blue-500 p-3">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-lg font-bold flex items-center no-underline">
      <!-- Ícone de chapéu de formatura -->
      <img src="logotipo_branca.png" alt="Logo" width="150vw" height="auto" />
    </a>
    <div class="flex items-center space-x-4">
      <a
        class="text-white flex items-center no-underline cursor-pointer"
        (click)="abrirPaginaSignIn()"
      >
        <i class="fas fa-sign-in-alt mr-1"></i>
        <!-- Ícone de login -->
        Entrar
      </a>
      <a
        class="text-white flex items-center no-underline cursor-pointer"
        (click)="abrirPaginaSignUp()"
      >
        <i class="fas fa-user-plus mr-1"></i>
        <!-- Ícone de registro -->
        Cadastrar
      </a>
      <button
        class="bg-white text-blue-500 px-3 py-1 rounded flex items-center"
        (click)="toggleTheme()"
      >
        <i class="fas fa-adjust mr-1"></i>
        <!-- Ícone de alternância de tema -->
      </button>
    </div>
  </div>
</nav>
