<nav class="bg-blue-500 p-3">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-lg font-bold flex items-center no-underline">
      <img src="logotipo_branca.png" alt="Logo" width="150vw" height="auto" />
    </a>
    <div class="flex items-center space-x-4">
      <button
        class="bg-white text-blue-500 p-2 rounded-full flex items-center justify-center"
        (click)="toggleTheme()"
        [ngClass]="{
          'toggle-theme-light': currentTheme === 'light',
          'toggle-theme-dark': currentTheme === 'dark'
        }"
      >
        <div class="icon-container">
          <i class="fas fa-sun"></i>
          <i class="fas fa-moon"></i>
        </div>
      </button>
      <!-- Exibir ícone de usuário apenas se logado -->
      <div
        *ngIf="isLoggedIn"
        [ngStyle]="{ 'background-color': userColor }"
        class="w-11 h-11 rounded-full flex items-center justify-center text-white text-lg font-bold"
      >
        {{ userInitial }}
      </div>
      <a
        *ngIf="!isLoggedIn"
        class="text-white flex items-center no-underline cursor-pointer"
        (click)="abrirPaginaSignIn()"
      >
        <i class="fas fa-sign-in-alt mr-1"></i>
        Entrar
      </a>
      <a
        *ngIf="!isLoggedIn"
        class="text-white flex items-center no-underline cursor-pointer"
        (click)="abrirPaginaSignUp()"
      >
        <i class="fas fa-user-plus mr-1"></i>
        Cadastrar
      </a>
    </div>
  </div>
</nav>
