<div class="font-[sans-serif]">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="grid md:grid-cols-2 items-center gap-4 max-w-4xl w-full">
      <div
        class="relative border border-gray-300 rounded-lg p-4 max-w-sm shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] max-md:mx-auto"
      >
        <!-- Botão de Voltar -->
        <button
          class="absolute top-4 left-4 text-gray-500 hover:text-gray-800 transition duration-200"
          onclick="history.back()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </button>

        <!-- Formulário de Login -->
        <form class="space-y-4">
          <div class="mb-6 text-center">
            <h3 class="text-gray-800 text-2xl font-extrabold">Entrar</h3>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block"
              >Nome de usuário</label
            >
            <div class="relative flex items-center">
              <input
                name="username"
                type="text"
                required
                class="w-full text-sm text-gray-800 border border-gray-300 px-4 py-2 rounded-lg outline-blue-600"
                placeholder="Digite seu nome de usuário"
                [(ngModel)]="username"
              />
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block">Senha</label>
            <div class="relative flex items-center">
              <input
                name="password"
                type="password"
                required
                class="w-full text-sm text-gray-800 border border-gray-300 px-4 py-2 rounded-lg outline-blue-600"
                placeholder="Digite sua senha"
                [(ngModel)]="password"
              />
            </div>
          </div>

          <div class="flex flex-wrap items-center justify-between gap-4">
            <div class="flex items-center">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
              />
              <label for="remember-me" class="ml-3 block text-sm text-gray-800">
                Lembrar-me
              </label>
            </div>

            <div class="text-sm">
              <a
                href="javascript:void(0);"
                class="text-blue-600 hover:underline font-semibold"
              >
                Esqueceu sua senha?
              </a>
            </div>
          </div>

          <div class="!mt-6">
            <button
              type="button"
              class="w-full shadow-xl py-2 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none"
              (click)="logar()"
            >
              Entrar
            </button>
          </div>

          <p class="text-sm !mt-6 text-center text-gray-800">
            Não tem uma conta?
            <a
              href="javascript:void(0);"
              class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap"
              >Cadastre-se aqui</a
            >
          </p>
        </form>
      </div>
      <div class="lg:h-[350px] md:h-[250px] max-md:mt-6">
        <img
          src="https://readymadeui.com/login-image.webp"
          class="w-full h-full max-md:w-3/4 mx-auto block object-cover"
          alt="Imagem de Login"
        />
      </div>
    </div>
  </div>
</div>
