<div class="p-6 bg-white shadow rounded-lg">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold text-gray-800">Gerenciar Cursos</h2>
    <div class="flex space-x-2">
      <button
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded flex items-center"
        (click)="abrirModal()"
      >
        <i class="bi bi-plus-lg mr-2"></i> Adicionar
      </button>
      <button
        class="bg-gray-600 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded flex items-center"
        [disabled]="!cursoSelecionado"
        (click)="abrirModal()"
      >
        <i class="bi bi-pencil mr-2"></i> Editar
      </button>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full text-sm text-left text-gray-500">
      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th scope="col" class="py-3 px-6">Nome do Curso</th>
          <th scope="col" class="py-3 px-6">Semestres</th>
          <th scope="col" class="py-3 px-6">Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="cursos.length > 0; else noCourses">
        <tr
          *ngFor="let curso of cursos"
          class="hover:bg-gray-50 cursor-pointer"
          [class.bg-blue-50]="curso === cursoSelecionado"
          (click)="selecionarCurso(curso)"
        >
          <td class="py-4 px-6">{{ curso.name }}</td>
          <td class="py-4 px-6">
            <button
              class="text-red-600 hover:text-red-800 transition-colors duration-300"
              (click)="excluirCurso(curso)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noCourses>
    <div class="text-center text-gray-500 py-8">
      <p>Não existem cursos cadastrados ainda.</p>
    </div>
  </ng-template>
</div>

<!-- Modal -->
<div
  *ngIf="exibirModal"
  class="fixed inset-0 bg-gray-800 bg-opacity-60 flex items-center justify-center overflow-auto"
>
  <div
    class="bg-white w-full max-w-4xl mx-4 p-8 rounded-lg shadow-lg overflow-y-auto h-auto max-h-[90vh]"
  >
    <div class="flex justify-between items-center mb-6">
      <h3 class="text-xl font-semibold text-gray-800">
        {{ cursoSelecionado ? "Editar Curso" : "Adicionar Curso" }}
      </h3>
      <button class="text-gray-600 hover:text-gray-900" (click)="fecharModal()">
        <i class="bi bi-x-circle text-2xl"></i>
      </button>
    </div>
    <div class="space-y-6">
      <input
        type="text"
        class="border border-gray-300 p-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        [(ngModel)]="courseName"
        placeholder="Nome do Curso"
      />
      <select class="border border-gray-300 p-2 mt-2 w-full rounded" [(ngModel)]="courseAreaId">
          
        <option value="" selected>Selecione uma área</option>
        <option [value]="area.id" *ngFor="let area of areas">
          {{ area.name }}
        </option>
      </select>
      <div class="container mt-5">
        <h5>Escolha suas opções:</h5>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="opcao1" [(ngModel)]="monday">
          <label class="form-check-label" for="opcao1">Segunda</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="opcao2" [(ngModel)]="tuesday">
          <label class="form-check-label" for="opcao2">Terça</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="opcao3" [(ngModel)]="wednesday">
          <label class="form-check-label" for="opcao3">Quarta</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="opcao3" [(ngModel)]="thursday">
          <label class="form-check-label" for="opcao3">Quinta</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="opcao3" [(ngModel)]="friday">
          <label class="form-check-label" for="opcao3"> Sexta </label>
        </div>
      </div>
      
     
    </div>
    <div class="flex justify-end gap-4 mt-6">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg"
        (click)="salvarCurso()"
      >
        Salvar
      </button>
      <button
        class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg"
        (click)="fecharModal()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
