<div class="flex flex-col h-screen">
  <!-- Topo -->
  <app-header></app-header>

  <div class="flex flex-1 overflow-hidden">
    <!-- Navbar Vertical -->
    <app-sidebar></app-sidebar>

    <!-- Conteúdo Principal -->
    <main
      [ngClass]="{ 'bg-gray-500': isDarkTheme, 'bg-white': !isDarkTheme }"
      class="flex-1 p-6 overflow-y-auto"
    >
      <router-outlet></router-outlet>
      <!-- Aqui o conteúdo das rotas será exibido -->
    </main>
  </div>

  <!-- Rodapé -->
  <app-footer></app-footer>
</div>
