<div class="flex flex-col h-screen">
  <!-- Topo -->
  <app-header></app-header>

  <div class="flex flex-1 overflow-hidden">
    <!-- Navbar Vertical -->
    <app-sidebar></app-sidebar>

    <!-- Conteúdo Principal -->
    <main
      [ngClass]="{ 'bg-gray-500': isDarkTheme, 'bg-white': !isDarkTheme }"
      class="flex-1 p-6 overflow-y-auto"
    >
      <!-- Barra de Pesquisa e Filtros -->
      <div class="flex items-center mb-6">
        <div class="relative w-1/3 mr-4">
          <input
            type="text"
            class="w-full border border-gray-300 p-2 rounded pl-10"
            placeholder="Pesquisar..."
          />
        </div>
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded mr-2 flex items-center"
        >
          <i class="fas fa-sort-alpha-down mr-1"></i>
          <!-- Ícone de filtro A-Z -->
        </button>
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded flex items-center"
        >
          <i class="fas fa-sort-alpha-up mr-1"></i>
          <!-- Ícone de filtro Z-A -->
        </button>
      </div>

      <router-outlet></router-outlet>
      <!-- Aqui o conteúdo das rotas será exibido -->
    </main>
  </div>

  <!-- Rodapé -->
  <app-footer></app-footer>
</div>
