<aside class="bg-gray-200 w-48 p-3 overflow-y-auto h-[84vh]">
    <nav class="flex flex-col space-y-2">
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaIntroduction()">
            <i class="fas fa-book mr-2"></i> <!-- Ícone de introdução -->
            Introdução
        </a>
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaCourse()">
            <i class="fas fa-book-open mr-2"></i> <!-- Ícone de cursos -->
            Cursos
        </a>
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaClass()">
            <i class="fas fa-chalkboard mr-2"></i> <!-- Ícone de aulas -->
            Aulas
        </a>
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaClassroom()">
            <i class="fas fa-school mr-2"></i> <!-- Ícone de salas de aula -->
            Salas de aula
        </a>
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaInstructor()">
            <i class="fas fa-chalkboard-teacher mr-2"></i> <!-- Ícone de instrutores -->
            Instrutores
        </a>
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaTeacher()">
            <i class="fas fa-user-graduate mr-2"></i> <!-- Ícone de docentes -->
            Docentes
        </a>
        <a class="text-gray-700 hover:bg-gray-300 p-2 rounded flex items-center no-underline cursor-pointer"
            (click)="abrirPaginaSupport()">
            <i class="fas fa-headset mr-2"></i> <!-- Ícone de suporte -->
            Suporte
        </a>
    </nav>
</aside>
